:root{
  --black: #101011;
  --green: #596D48;
  --border-color: #E5E7EB;
  --form-text-color: rgb(38, 49, 66);
  
  --logo-text: 9vh;
  --footnote-text: 0.9rem;
  --label-text: 0.9rem;
  --big-text: 1.25rem;
}

@font-face {
  font-family: banner;
  src: url(../fonts/Norse-Bold.otf);
}

body{
  background-color: var(--black, black);
  display: flex;
  justify-content: center;
}

/* * * * * * 
    ASIDE
* * * * * * */

aside{
  background-image: url(../images/leaf.png);
  background-size: cover;
  height: 100vh;
  width: 25vw;
  color: aliceblue;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.banner-container{
  background-color: rgba(0, 0, 0, 50%);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 25vh;
  width: 100%;
  height: 15vh;
}

.banner-container img{
  height: 90%;
}

.banner-container p{
  font-size: var(--logo-text);
  font-family: banner;
  font-weight: bold;
}

aside > p{
  font-size: var(--footnote-text);
  text-align: center;
  margin-top: auto;
  padding: 1rem;
}

aside a:visited, aside a:link{
  color: aliceblue;
}

/* * * * * * 
    MAIN
* * * * * * */

main{
  background-color: white;
  height: 100vh;
  width: 45vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: sans-serif;
}

em{
  font-style: italic;
}

.call-to-action{
  font-size: var(--big-text);
  font-weight: bold;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
}

.call-to-action > *{
  width: 90%;
  line-height: 1.5rem;
}

.call-to-action p:last-child{
  padding: 1rem;
}

/* * * * * * 
    FORM
* * * * * * */

form{
  display: flex;
  flex-wrap: wrap;
  color: var(--form-text-color);
  border: 1px solid #E5E7EB;
  box-shadow: 0px 5px 15px rgba(0,0,0,0.2);
}

form > *{
  width: 90%;
  margin: auto;
  margin: 1.25rem 0 1.25rem 2.5rem;
}

legend{
  font-size: var(--big-text);
  font-weight: bold;
}

form div{
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 30%;
  font-size: var(--label-text);
}

input{
  border: 1px solid #E5E7EB;
  font-size: 1rem;
  padding: 5px 5px 5px 10px;
  border-radius: 5px;
}

input:focus{
  outline: none;
  border: 1px solid rgb(49, 0, 128);
}

input:invalid{
  border: 1px solid red;
}

/* * * * * * 
    LOWER
* * * * * * */

button{
  all: initial;
  color: aliceblue;
  background-color: var(--green);
  font-family: sans-serif;
  font-size: 1rem;
  font-weight: bold;
  padding: 15px 40px;
  border-radius: 5px;
  margin: 1.25rem 0 1.25rem 2.5rem;
}

button:hover{
  box-shadow: 0px 5px 15px rgba(0,0,0,0.5);
}

.foot p{
  margin: 0 0 1.25rem 2.5rem;
  font-weight: 600;
}

.foot a{
  text-decoration: none;
  font-weight: bold;
  color: var(--green);
}