:root{
  --black: #101011;
  
  --logo-text: 9vh;
  --footnote-text: 0.9rem;
}

@font-face {
  font-family: banner;
  src: url(../fonts/Norse-Bold.otf);
}

body{
  background-color: var(--black, black);
  display: flex;
  justify-content: center;
}

aside{
  background-image: url(../images/leaf.png);
  background-size: cover;
  height: 100vh;
  width: 25vw;
  color: aliceblue;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.banner-container{
  background-color: rgba(0, 0, 0, 50%);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 25vh;
  width: 25vw;
  height: 15vh;
}

.banner-container img{
  height: 90%;
}

.banner-container p{
  font-size: var(--logo-text);
  font-family: banner;
  font-weight: bold;
}

aside > p{
  font-size: var(--footnote-text);
  text-align: center;
  margin-top: auto;
  padding: 1rem;
}

aside a:visited, aside a:link{
  color: aliceblue;
}

main{
  background-color: white;
  height: 100vh;
  width: 45vw;
}